
@model List<Instructor>


 <h2>@ViewBag.depts.deptName Instructors</h2>
 <br /> <br />
<div class="container-fluid ">
<div class="row">
@foreach (var item in Model)
{
<div class="col-lg-3 col-md-6  text-center">

    <div class="card ">
        <img src="\images\@item.insImage" class="card-img-top" alt="..." style="max-width:100%; height:15vw ; object-fit:contain" />
        <div class="card-body">
            <h5 class="card-title text-center" style="color: #c99e68">
                @item.insName
            </h5>
            <p>@item.insAddress</p>
            <p>@item.insSalary</p>
            <a href="\instructor\GetInstructor\@item.Id" class="btn btn-primary" style="width:100%; padding:5px 50px">Details</a>
            <br> <br>
            <a href="\instructor\Edit\@item.Id" class="btn btn-primary" style="width:100%; padding:5px 50px">Edit</a>
            <br> <br>
            <a type="submit" href="\instructor\Delete\@item.Id" class="btn btn-danger" style="width:100%; padding:5px 50px"
               onclick="return confirm('Are you sure you want to delete @item.insName')">Delete</a>
        </div>
    </div>
</div>
}

</div> 
</div>